.container {
    padding: 20px;
    margin: 0;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    color: var(--text);
    font-size: 2rem;
    margin-right: 20px;
    text-transform: capitalize;
}

.menu{
    display: flex;
    align-items: center;
    gap:20px;
}

.search{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 5px;
    border-radius: 10px;
    color: var(--textSoft);
    background-color: #edf3f7;
}

.input{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    color: var(--text);
}

.icon{
    width: 20px;
    height: 20px;
    color: var(--text);
    padding: 1px;
    margin: 5px;
}